#main #fp-nav {
	height:100%;
	/*background-color: #000;*/
	margin-top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#fp-nav.left {
    left: 0;
    padding: 12px;
}

#fp-nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin: 12px;
    position: relative;
}

.fp-slidesNav ul li {
}

#fp-nav ul li a {
	position: relative;
	margin: 0;
}

#fp-nav ul li a span {
	display:block;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	height: 8px;
	width: 8px;
	background: #903;
	margin: 0;
}

.fp-slidesNav ul li a span {
	background: #fff;
}

#fp-nav ul li a.active span,
#fp-nav ul li a:hover span,
#fp-nav ul li:hover a.active span {
	width: 20px;
	height:20px;
	margin: 0;
}

.fp-slidesNav ul li a.active span,
.fp-slidesNav ul li:hover a.active span {
}